@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.backgroundimage {
    background-image: url('img/ryan-schroeder-Gg7uKdHFb_c-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    display: flex;
}

.logo {
    margin-left: 1.5vw;
    margin-top: 2.5vw;
    position: relative;
    width: 40vw;
}

/* .littlelogo {
    margin-left: 4vw;
    margin-top: -60vw;  
} */

.title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2vw;
    margin-left: 4vw;
    margin-top: 0vw;
    letter-spacing: 0.2vw;
    position: relative;
}

.littletitle {
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    font-weight: bold;
    margin-left: 4vw;
    margin-top: -1.5vw;
    color: white;
    letter-spacing: 0.1vw;
    position: relative;
}

/* .enterbutton {
    margin-top: 1.5vw;
    margin-left: 4vw;
    background-color: rgb(213, 0, 0);
    border: none;
    color: white;
    padding: 20px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4vw;
    font-family: "Poppins", sans-serif;
    width: auto;
    border-radius: 4px;
    letter-spacing: 0.1vw;
} */

.enterbutton {
    margin-left: 4vw;
    margin-top: 1.3vw;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 2px solid #000;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 20px 37px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.enterbutton:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}

.enterbutton:focus-visible{
    outline-offset: 1px;
}

.credit {
    margin-top: 12vw;
    margin-left: 86vw;
    font-size: 0.8vw;
    color: white;
    background-color: black;
    font-family: "Poppins", sans-serif;
    padding: 4px 10px;
}