@import url('https://fonts.cdnfonts.com/css/apercu');
@import url('https://fonts.cdnfonts.com/css/abigate-desgo');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/* *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.backdrop {
    position: fixed; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10;
}

.disable-cursor-effects {
    cursor: default;
  }

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .images_basic {
    height: 100%;
    width: 50%;
    object-fit: cover;
    cursor: pointer;
  }

/****************************************************** POPUP WINDOW ***************************************************************/

.popup{
    background-color: #F2F2F2;
    width: 400px;
    height: 450px;
    padding: 10px 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
    z-index: 999;
}

.popup h1 {
    font-family: "apercu", sans-serif;
    font-weight: 900;
    font-size: 2vw;
    margin-top: 1vw;
    color: #656565;
}

.littlelogo {
    text-align: center;
    margin-top: -6vw; 
    width: 65%;
}

.popup button{
    margin-top: -5vw;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 2px solid #222222;
    color: #222222;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 20px 37px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;  
}

.popup button:hover {
    box-shadow: 4px 4px 0 #222222;
    transform: translate(-4px,-4px);
}

.popup button:focus-visible{
    outline-offset: 1px;
}

.popup p{
    font-size: 1.2vw;
    text-align: center;
    margin: 20px 40px; 
    line-height: 23px;
    font-family: "apercu", sans-serif;
    justify-content: center;
    color: #222222;
    margin-top: 3.5vw;
}

/****************************************************** FIRST INPUT ***************************************************************/

.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 1.5vw;
    margin-left: 0vw;
  }
  

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222222;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
.slider:before {
    background-color: #F2F2F2;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 6px;
    bottom: 5px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
input:checked + .slider {
    background-color: #222222;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #f2f2f2;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(148px); /* 26 */
    -ms-transform: translateX(148px);
    transform: translateX(148px);
  }
  
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

/****************************************************** SECOND INPUT ***************************************************************/

.switch2 {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 2vw;
    margin-left: 0vw;
  }
  
.switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222222;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
.slider:before {
    background-color: #F2F2F2;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 6px;
    bottom: 5px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
input:checked + .slider {
    background-color: #222222;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #f2f2f2;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(148px); /* 26 */
    -ms-transform: translateX(148px);
    transform: translateX(148px);
  }
  
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

/****************************************************** IMAGES ***************************************************************/

/* .image__img1 {
    width: 50vw;
    height: 100vh;
    display: flex;
    border-width: 0;
    object-fit:cover;
}

.image__img2 {
    width: 50vw;
    height: 100vh;
    display: flex;
    border-width: 0;
    object-fit: cover; 
}  */

/* .flexbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    width: auto;
    object-fit: cover;
    z-index: 1;
} */

/* .imageLeft {
    position: relative;
}

.imageRight {
    position: relative;
} */

.image__overlay {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.4);  
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 4s;
    z-index: 1;
}

.image__overlay--blur {
    backdrop-filter: blur(10px); 
}

.image__overlay:hover {
    opacity: 1;
}

.overlay__text {
  opacity: 0;
  transition: opacity 2s ease;
  font-family: "poppins", sans-serif;
  font-size: 1.1vw;
  cursor: pointer;
}

.image__overlay:hover .overlay__text {
  opacity: 1;
}

.overlay__text:hover {
  color: rgb(190, 190, 190);
  transition: 2s;
}

/* .image__description__left {
    font-size: 1.2vw; 
    cursor: pointer;
    text-align: center; 
    transition: 2s ease;
}

.image__description__left:hover {
    transition: all 2s;
    opacity: 0%;
}

.image__description__right {
    font-size: 1.2vw; 
    cursor: pointer;
    text-align: center; 
    transition: 2s ease;
}

.image__description__right:hover {
    transition: all 2s; 
    opacity: 0%;
} */


@media only screen and (max-width: 600px) {
  .popup{
      width: auto;
   }

 }



