body {
    margin: 0;
    padding: 0; 
}

.image1 {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0; 
    display: flex;
    border-width: 0;
    object-fit: cover;
}

.image2 {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0; 
    display: flex;
    border-width: 0;
    object-fit: cover;
}

#flexbox
   {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    width: auto;
    object-fit: cover;
   }