@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
    /* background: rgb(2, 89, 118); */
    margin: 0;
    padding: 0;
}

.backgroundimage {
    background-image: url('img/gaborel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0; 
    display: flex;
}

.underscore {
    font-family: "Montserrat";
    margin-top: 3.2vw;
    margin-left: 3vw;
    /* font-weight: bold; */
    position: absolute;
    font-size: 11vw;
    color: rgb(50, 62, 82);
    /* text-shadow: 2px 2px 4px #000000; */
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

.firstword {
    font-family: "Playfair Display ";
    font-size: 8vw;
    margin-left: 10.5vw;
    margin-top: 7vw;
    font-style: italic;
    color: rgb(50, 62, 82);
    /* font-weight: bold; */
    position: absolute; 
    /* text-shadow: 2px 2px 4px #000000; */
    /* filter: url(#threshold) blur(0.6px); */
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

.secondword {
    font-family: "Yeseva One";
    font-size: 7.5vw;
    margin-top: 14.8vw;
    font-weight: bold;
    margin-left: 2.5vw; 
    letter-spacing: 0.2vw;
    color: rgb(50, 62, 82);
    position: absolute;
    /* text-shadow: 2px 2px 4px #000000; */
    /* filter: url(#threshold) blur(0.6px); */
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }


.thirdword {
    font-family: "Playfair Display ";
    font-size: 8vw;
    margin-left: 5vw;
    margin-top: 20.3vw;
    font-style: italic;
    color: rgb(50, 62, 82);
    /* font-weight: bold; */
    position: absolute; 
    /* text-shadow: 2px 2px 4px #000000; */
    /* filter: url(#threshold) blur(0.6px); */
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

.asterisk {
    font-family: "Montserrat";
    font-size: 9vw;
    font-style: normal;
    color: rgb(209, 10, 0);
    font-weight: bold;
    margin-left: 1.15vw;
}

.littleasterisk {
    /* font-family: "EB Garamond"; */
    font-family: "Montserrat";
    font-size: 1.9vw;
    font-weight: bold;
    margin-left: 5.3vw;
    word-spacing: 5px;
    margin-top: 31vw;
    color: rgb(209, 10, 0);
    position: absolute;
    /* text-shadow: 2px 2px 4px #000000; */
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

.littletext {
    /* font-family: "EB Garamond"; */
    font-family: "Montserrat";
    font-size: 1.9vw;
    font-weight: bold;
    margin-left: 6.4vw;
    word-spacing: 3px;
    margin-top: 31vw;
    color: rgb(50, 62, 82);
    position: absolute;
    /* text-shadow: 2px 2px 4px #000000; */
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

.littletext2 {
    /* font-family: "EB Garamond"; */
    font-family: "Montserrat";
    font-size: 1.9vw;
    font-weight: bold;
    margin-left: 6.4vw;
    word-spacing: 3px;
    margin-top: 33vw;
    color: rgb(50, 62, 82);
    position: absolute;
    /* text-shadow: 2px 2px 4px #000000; */
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }


.littletext3 {
    /* font-family: "EB Garamond"; */
    font-family: "Montserrat";
    font-size: 1.9vw;
    font-weight: bold;
    margin-left: 6.4vw;
    word-spacing: 3px;
    margin-top: 35vw;
    color: rgb(50, 62, 82);
    position: absolute;
    /* text-shadow: 2px 2px 4px #000000; */
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  .littletext4 {
    /* font-family: "EB Garamond"; */
    font-family: "Montserrat";
    font-size: 1.2vw;
    font-weight: bold;
    margin-left: 6.4vw;
    word-spacing: 3px;
    margin-top: 38vw;
    color: rgb(50, 62, 82);
    position: absolute;
    /* text-shadow: 2px 2px 4px #000000; */
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

.enterlink {
    font-size: 11vw;
    /* font-weight: bold; */
    margin-left: 87vw;
    margin-top: 37vw;
    color: rgb(255,255, 0255);
    position: absolute ;
    transition: transform 300ms;
}

.enterlink:hover {
    /* color: rgb(209, 10, 0); */
    color: rgb(255,255, 0255);
    transform: translateX(10px);
}

.credit {
    font-family: "Montserrat";
    font-size: 0.77vw;
    font-weight: bold;
    font-style: normal;
    color: rgb(50, 62, 82);
    font-weight: bold;
    margin-left: 6.4vw;
    margin-top: 39.5vw;
}