@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    background: rgb(2, 89, 118);
    margin: 0;
    padding: 0;
}

.firstword {
    font-family: "playfair Display";
    font-style: italic;
    font-size: 13vw;
    margin-top: 100px;
    margin-left: 8vw;
    word-spacing: 30px;
    /* background-color: rgb(128, 103, 0); */
    /* display: inline-flex; */
    color: white;
   
}

.secondword {
    font-family: "EB Garamond";
    font-size: 13vw;
    line-height: px; /*lines between them*/
    margin-top: -220px;
    font-weight: bold;
    margin-left: 2vw;
    color: rgb(0, 25, 33);  
}

.thirdword {
    font-family: "Playfair Display ";
    font-size: 13vw;
    margin-left: 5vw;
    word-spacing: 30px;
    margin-top: -210px;
    font-style: italic;
    color: rgb(0, 25, 33);  
}

.littletext {
    font-family: "EB Garamond";
    font-size: 1.6em;
    margin-left: 32vw;
    word-spacing: 5px;
    margin-top: -180px;
    color: white ;
}

.enterlink {
    font-size: 10em;
    font-style: italic;
    margin-left: 70vw;
    margin-top: -300px;
    color: white;
}